* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.parte-dos {
  width: 1702px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 1702px;
  height: 592px;
}

.logos {
  background: url(../img/Logos.png);
  position: absolute;
  width: 1232px;
  height: 103px;
  left: 235px;
  top: 1213px;
}
.parte-cuatro {
  width: 1702px;
  height: 1412px;
  z-index: -1;
  margin: 0 auto;
}

.cuatro-comilla-uno {
  position: absolute;
  width: 29px;
  height: 66px;
  left: 476px;
  top: 2358px;
  font-family: "SF UI Display Light";
  font-style: normal;
  font-weight: bold;
  font-size: 55px;
  line-height: 66px;
  /* identical to box height */

  display: flex;
  align-items: flex-end;

  color: #333333;

  mix-blend-mode: normal;
  opacity: 0.8;
}
.cuatro-parrafo-uno {
  position: absolute;
  width: 732px;
  height: 105px;
  left: 495px;
  top: 2414px;

  font-family: SF UI Display;
  font-style: normal;
  font-weight: 100;
  font-size: 26px;
  line-height: 35px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #383838;

  mix-blend-mode: normal;
  opacity: 0.8;
}
.line-4-1 {
  position: absolute;
  width: 39.12px;
  height: 2px;
  left: 841px;
  top: 2560px;
  background: #5ca1f1;
}
.line-4-2 {
  position: absolute;
  width: 111px;
  height: 4px;
  left: 316px;
  top: 3349px;
  background: #5a9dea;
  border-radius: 2px;
  display: flex;
}

.antonia-jore {
  position: absolute;
  width: 98px;
  height: 35px;
  left: 813px;
  top: 2577px;
  font-family: SF UI Display;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 35px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #383838;
  mix-blend-mode: normal;
  opacity: 0.8;
}
.sr {
  position: absolute;
  width: 120px;
  height: 29px;
  left: 811px;
  top: 2605px;

  font-family: SF UI Display;
  font-style: normal;
  font-weight: 100;
  font-size: 14px;
  line-height: 29px;
  /* identical to box height, or 207% */

  display: flex;
  align-items: center;
  text-align: center;

  color: #696969;

  mix-blend-mode: normal;
  opacity: 0.8;
}
.cuatro-contacts {
  position: absolute;
  width: 228px;
  height: 66px;
  left: 199px;
  top: 3259px;
  font-family: SF UI Display;
  font-style: normal;
  font-weight: 600;
  font-size: 55px;
  line-height: 66px;
  display: flex;
  align-items: flex-end;
  color: #333333;
}
.cuatro-parrafo-dos {
  position: absolute;
  width: 463px;
  height: 70px;
  left: 316px;
  top: 3407px;
  font-family: SF UI Display;
  font-style: normal;
  font-weight: 600;
  font-size: 29px;
  line-height: 35px;
  display: flex;
  align-items: flex-end;
  color: #383838;
}
.bo-4-1 {
  position: absolute;
  width: 209px;
  height: 53px;
  left: 919px;
  top: 3424px;
  background: #5a9dea;
  border: 1px solid #5a9dea;
  box-sizing: border-box;
  border-radius: 5px;
}
.bo-4-1-co {
  position: absolute;
  width: 65px;
  height: 19px;
  left: 48px;
  top: 17px;
  font-family: SF UI Display;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: flex-end;
  color: #ffffff;
  text-decoration: none;
}

.parte-tres {
  background-color: #f5f5f5;
  width: 1702px;
  height: 835px;
  z-index: -1;
  margin: 0 auto;
}
.ti-3-1 {
  position: absolute;
  width: 347px;
  height: 66px;
  left: 234px;
  top: 1523px;
  font-style: normal;
  font-weight: 600;
  font-size: 55px;
  line-height: 66px;
  display: flex;
  align-items: flex-end;
  color: #333333;
  font-family: "SF UI Display Semibold";
}
.ti-3-2 {
  position: absolute;
  width: 463px;
  height: 70px;
  left: 463px;
  top: 1671px;
  font-style: normal;
  font-weight: 600;
  font-size: 29px;
  line-height: 35px;
  display: flex;
  align-items: flex-end;
  color: #383838;
  font-family: "SF UI Display Semibold";
}
.pa-3-1 {
  position: absolute;
  width: 417px;
  height: 104px;
  left: 463px;
  top: 1771px;
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  line-height: 26px;
  display: flex;
  align-items: center;
  color: #848484;
  font-family: SF UI Display;
}
.bo-3-1 {
  position: absolute;
  width: 111px;
  height: 4px;
  left: 445px;
  top: 1613px;

  background: #5a9dea;
  border-radius: 2px;
}
.macb {
  position: absolute;
  width: 637px;
  height: 376px;
  left: 1015px;
  top: 1631px;
}
.tres-botones {
  position: absolute;
  width: 48.64px;
  height: 4.76px;
  left: 926px;
  top: 2123px;

  background: #c9cdd1;
}
.parte-dos {
  width: 1702px;
  height: 592px;
  z-index: -1;
  margin: 0 auto;
}
.pa-2-1 {
  position: absolute;
  width: 516px;
  height: 105px;
  left: 243px;
  top: 936px;
  font-style: normal;
  font-weight: 600;
  font-size: 29px;
  line-height: 35px;
  display: flex;
  align-items: flex-end;
  color: #383838;
  font-family: SF UI Display;
}
.pa-2-2 {
  position: absolute;
  width: 534px;
  height: 78px;
  left: 925px;
  top: 942px;
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  line-height: 26px;
  display: flex;
  align-items: center;
  color: #848484;
  font-family: SF UI Display;
}
.pa-2-3 {
  position: absolute;
  height: 52px;
  left: 925px;
  top: 1072px;
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  line-height: 26px;
  display: flex;
  align-items: center;
  color: #848484;
  font-family: SF UI Display;
}
.bo-2-1 {
  position: absolute;
  width: 160px;
  height: 45px;
  left: 243px;
  top: 1079px;
  background: #5a9dea;
  border: 1px solid #5a9dea;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: SF UI Display;
}
.bo-2-2 {
  position: absolute;
  width: 161px;
  height: 45px;
  left: 423px;
  top: 1079px;
  border: 1px solid #5a9dea;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: SF UI Display;
}
.bo-2-1-co {
  position: absolute;
  width: 84px;
  height: 19px;
  left: 38px;
  top: 13px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: flex-end;
  color: #ffffff;
  text-decoration: auto;
  font-family: SF UI Display;
}
.bo-2-2-co {
  position: absolute;
  width: 82px;
  height: 19px;
  left: 39px;
  top: 13px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: flex-end;
  color: #5a9dea;
  text-decoration: auto;
  font-family: SF UI Display;
}

.alien {
  width: 323px;
  height: 340px;
  position: absolute;
  top: 271px;
  right: 0px;
  left: 1041px;
}

.color.a {
  max-width: 1202px;
  height: 881.37px;
  left: -269.62px;
  top: 0px;
  background: rgba(85, 148, 221, 0.441236);
  mix-blend-mode: normal;
  opacity: 0.6;
  display: flex;
}

.line {
  position: absolute;
  width: 1205px;
  height: 3px;
  left: 325px;
  top: 104px;
  mix-blend-mode: normal;
  opacity: 0.2;
  border: 1px solid #ffffff;
}
.linee {
  position: absolute;
  width: 3px;
  height: 107px;
  left: 0px;
  top: 500px;
  background: #5ca1f1;
  mix-blend-mode: normal;
  opacity: 0.4;
  border-radius: 2px;
}
#link-a {
  position: absolute;
  width: 123px;
  height: 31px;
  left: 330px;
  top: 40px;
  font-style: normal;
  font-weight: bold;
  font-weight: 700px;
  font-size: 26px;
  line-height: 31px;
  display: flex;
  align-items: flex-end;
  color: #ffffff;
  font-family: SF UI Display;
  text-decoration: none;
}
#link-b {
  position: absolute;
  width: 7px;
  height: 26px;
  left: 450px;
  top: 49px;

  font-family: SF UI Display;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  align-items: flex-end;

  color: #ffffff;
}
#link-c {
  position: absolute;
  width: 253px;
  height: 21px;
  left: 470px;
  top: 49px;
  font-style: normal;
  font-weight: 100;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: #ffffff;
  font-family: SF UI Display;
}

#link-d {
  position: absolute;
  width: 52px;
  height: 26px;
  left: 1250px;
  top: 49px;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  align-items: flex-end;
  color: #ffffff;
  font-family: SF UI Display;
}

#link-e {
  position: absolute;
  width: 60px;
  height: 26px;
  left: 1340px;
  top: 49px;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  align-items: flex-end;
  color: #ffffff;
  font-family: SF UI Display;
}

#link-f {
  position: absolute;
  width: 78px;
  height: 26px;
  left: 1430px;
  top: 49px;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  align-items: flex-end;
  color: #ffffff;
  font-family: SF UI Display;
}

.pa-uno-uno {
  position: absolute;
  width: 740px;
  height: 198px;
  left: 199px;
  top: 329px;
  font-family: "SF UI Display Light";
  font-style: normal;
  font-weight: 300;
  font-size: 55px;
  line-height: 66px;
  display: flex;
  align-items: flex-end;
  color: #ffffff;
}
.tilde {
  position: absolute;
  width: 29px;
  height: 66px;
  left: 199px;
  top: 263px;
  font-style: normal;
  font-weight: bold;
  font-size: 55px;
  line-height: 66px;
  display: flex;
  align-items: flex-end;
  color: #ffffff;
}
.todo {
  width: 1702px;
  min-width: 380px;
  height: 3864;
}
.header {
  width: 1702px;
  height: 104px;
  display: flex;
  background-color: #5ca1f1;
}

.parte-uno {
  background-color: #5ca1f1;
  width: 1702px;
  height: 814px;
}
.container {
  background-color: #5ca1f1;
  width: 1702;
}
.navbar {
  width: 1205px;
  display: inline-block;
  position: absolute;
}
.main-nav_item a {
  color: #ffffff;
  padding: 15px;
  border-radius: 2px;
  text-decoration: auto;
  left: 45px;
}

.pie-de-pagina {
  width: 1702px;
  height: 212px;
}

.foot-1 {
  width: 123px;
  height: 31px;
  color: #ffffff;
  font-family: "SF UI Display";
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
}

.foot-2-diagonal {
    width: 7px;
    height: 26px;
    color: #ffffff;
    font-family: "SF UI Display";
    font-size: 22px;
    font-weight: 500;
    line-height: 26px;
  }

.foot-3 {
  width: 203px;
  height: 21px;
  color: #ffffff;
  font-family: "SF UI Display";
  font-size: 18px;
  font-weight: 100;
  line-height: 21px;
}


















































































































































































.video {
  width: 962.89px;
  height: 448px;
}

.mascara-1 {
  width: 960.89px;
  height: 448px;
}

.mascara-2 {
  opacity: 0.1;
  width: 960.89px;
  height: 448px;
  background: 0px;}

  .boton-play {
  width: 83px;
  height: 83px;
}

.ovalo3 {
  width: 83px;
  height: 83px;
  background: #ffffff;
  box-shadow: 1px 21px 17px rgba(0,0,0,0.3);
}

.triangulo-play {
  width: 24px;
  height: 19px;
  background: #5a9dea;
  transform: rotate(90.00008deg);
}

@font-face {
  font-family: "SF UI Display Ultralight";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Display Ultralight"),
    url("sf-ui-display-ultralight-58646b19bf205.woff") format("woff");
}

@font-face {
  font-family: "SF UI Display Thin";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Display Thin"),
    url("sf-ui-display-thin-58646e9b26e8b.woff") format("woff");
}

@font-face {
  font-family: "SF UI Display Light";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Display Light"),
    url("sf-ui-display-light-58646b33e0551.woff") format("woff");
}

@font-face {
  font-family: "SF UI Display Medium";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Display Medium"),
    url("sf-ui-display-medium-58646be638f96.woff") format("woff");
}

@font-face {
  font-family: "SF UI Display Semibold";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Display Semibold"),
    url("sf-ui-display-semibold-58646eddcae92.woff") format("woff");
}

@font-face {
  font-family: "SF UI Display Bold";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Display Bold"),
    url("sf-ui-display-bold-58646a511e3d9.woff") format("woff");
}

@font-face {
  font-family: "SF UI Display Heavy";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Display Heavy"),
    url("sf-ui-display-heavy-586470160b9e5.woff") format("woff");
}

@font-face {
  font-family: "SF UI Display Black";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Display Black"),
    url("sf-ui-display-black-58646a6b80d5a.woff") format("woff");
}
@font-face {
  font-family: sf;
  src: url(../fonts/sf-ui-display-cufonfonts/sf-ui-display-bold-58646a511e3d9.otf);
  font-weight: 700;
}
@font-face {
  font-family: sf;
  src: url(../fonts/sf-ui-display-cufonfonts/sf-ui-display-medium-58646be638f96.otf);
  font-weight: 400;
}
body {
  font-family: sf;
}
