* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
<<<<<<< Updated upstream
html {
  font-size: 62.5%;
}
=======

>>>>>>> Stashed changes
.parte-dos {
  width: 170.02rem;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 170.02rem;
  height: 59.02rem;
}
.logos {
  background: url(../img/Logos.png);
  position: absolute;
  width: 123.02rem;
  height: 10.03rem;
  left: 23.05rem;
  top: 121.03rem;
}
.parte-cuatro {
  width: 170.02rem;
  height: 141.02rem;
  z-index: -1;
  margin: 0 auto;
}

.cuatro-comilla-uno {
  position: absolute;
  width: 2.9rem;
  height: 6.6rem;
  left: 47.06rem;
  top: 235.08rem
  font-family: "SF UI Display Light";
  font-style: normal;
  font-weight: bold;
  font-size: 5.5rem;
  line-height: 6.6rem;
  display: flex;
  align-items: flex-end;
  color: #333333;
  mix-blend-mode: normal;
  opacity: 0.8;
}
.cuatro-parrafo-uno {
  position: absolute;
  width: 73.02rem;
  height: 1.05rem;
  left: 49.05rem;
  top: 241.04rem;
  font-style: normal;
  font-weight: 100;
  font-size: 2.6rem;
  line-height: 3.5rem;
  display: flex;
  align-items: center;
  text-align: center;
  color: #383838;
  mix-blend-mode: normal;
  opacity: 0.8;
}
.line-4-1 {
  position: absolute;
  width: 3.9rem;
  height: 02rem;
  left: 841px;
  top: 2560px;
  background: #5ca1f1;
}
.line-4-2 {
  position: absolute;
  width: 11.01rem;
  height: 0.4rem;
  left: 31.06rem;
  top: 334.09rem;
  background: #5a9dea;
  border-radius: 0.2rem;
  display: flex;
}
.antonia-jore {
  position: absolute;
  width: 9.8rem;
  height: 3.5rem;
  left: 813px;
  top: 2577px;
  font-family: SF UI Display;
  font-style: normal;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 3.5rem;
  display: flex;
  align-items: center;
  text-align: center;
  color: #383838;
  mix-blend-mode: normal;
  opacity: 0.8;
}
.sr {
  position: absolute;
  width: 12rem;
  height: 2.9rem;
  left: 81.01rem;
  top: 260.05rem;
  font-style: normal;
  font-weight: 100;
  font-size: 1.4rem;
  line-height: 2.9rem;
  display: flex;
  align-items: center;
  text-align: center;
  color: #696969;
  mix-blend-mode: normal;
  opacity: 0.8;
}
.cuatro-contacts {
  position: absolute;
  width: 22.08rem;
  height: 6.6rem;
  left: 19.09rem;
  top: 325.09rem;
  font-style: normal;
  font-weight: 600;
  font-size: 5.5rem;
  line-height: 6.6rem;
  display: flex;
  align-items: flex-end;
  color: #333333;
}
.cuatro-parrafo-dos {
  position: absolute;
  width: 46.03rem;
  height: 7.0rem;
  left: 31.06rem;
  top: 340.07rem;
  font-family: SF UI Display;
  font-style: normal;
  font-weight: 600;
  font-size: 2.9rem;
  line-height: 3.5rem;
  display: flex;
  align-items: flex-end;
  color: #383838;
}
.bo-4-1 {
  position: absolute;
  width: 20.09rem;
  height: 5.3rem;
  left: 91.09rem;
  top: 342.04rem;
  background: #5a9dea;
  border: 0.1rem solid #5a9dea;
  box-sizing: border-box;
  border-radius: 0.5rem;
}
.bo-4-1-co {
  position: absolute;
  width: 6.5rem;
  height: 1.9rem;
  left: 4.8rem;
  top: 1.7rem;
  font-family: SF UI Display;
  font-style: normal;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.9rem;
  display: flex;
  align-items: flex-end;
  color: #ffffff;
  text-decoration: none;
}
.parte-tres {
  background-color: #f5f5f5;
  width: 170.02rem;
  height: 83.05rem;
  z-index: -1;
  margin: 0 auto;
}
.ti-3-1 {
  position: absolute;
  width: 34.07rem;
  height: 6.6rem;
  left: 23.04rem;
  top: 152.03rem;
  font-style: normal;
  font-weight: 600;
  font-size: 5.5rem;
  line-height: 6.6rem;
  display: flex;
  align-items: flex-end;
  color: #333333;
  font-family: "SF UI Display Semibold";
}
.ti-3-2 {
  position: absolute;
  width: 46.03rem;
  height: 7.0rem;
  left: 46.03rem;
  top: 167.01rem;
  font-style: normal;
  font-weight: 600;
  font-size: 2.9rem;
  line-height: 3.5rem;
  display: flex;
  align-items: flex-end;
  color: #383838;
  font-family: "SF UI Display Semibold";
}
.pa-3-1 {
  position: absolute;
  width: 41.07rem;
  height: 10.04rem;
  left: 46.03rem;
  top: 177.01rem;
  font-style: normal;
  font-weight: 100;
  font-size: 1.6rem;
  line-height: 2.6rem;
  display: flex;
  align-items: center;
  color: #848484;
  font-family: SF UI Display;
}
.bo-3-1 {
  position: absolute;
  width: 11.01rem;
  height: 0.4rem;
  left: 44.05rem;
  top: 161.03rem;
  background: #5a9dea;
  border-radius: 0.2rem;
}
.macb {
  position: absolute;
  width: 63.07rem;
  height: 37.06rem;
  left: 101.05rem;
  top: 163.01rem;
}
.tres-botones {
  position: absolute;
  width: 4.8rem;
  height: 0.4rem;
  left: 92.06rem;
  top: 212.03rem;
  background: #c9cdd1;
}
.parte-dos {
  width: 170.02rem;
  height: 59.02rem;
  z-index: -1;
  margin: 0 auto;
}
.pa-2-1 {
  position: absolute;
  width: 51.06rem;
  height: 10.05rem;
  left: 24.03rem;
  top: 93.06rem;
  font-style: normal;
  font-weight: 600;
  font-size: 2.9rem;
  line-height: 3.5rem;
  display: flex;
  align-items: flex-end;
  color: #383838;
  font-family: SF UI Display;
}
.pa-2-2 {
  position: absolute;
  width: 53.04rem;
  height: 7.8rem;
  left: 92.05rem;
  top: 94.02rem;
  font-style: normal;
  font-weight: 100;
  font-size: 1.6rem;
  line-height: 2.6rem;
  display: flex;
  align-items: center;
  color: #848484;
  font-family: SF UI Display;
}
.pa-2-3 {
  position: absolute;
  height: 5.2rem;
  left: 92.05rem;
  top: 107.02rem;
  font-style: normal;
  font-weight: 100;
  font-size: 1.6rem;
  line-height: 2.6rem;
  display: flex;
  align-items: center;
  color: #848484;
  font-family: SF UI Display;
}
.bo-2-1 {
  position: absolute;
  width: 16.00rem;
  height: 4.5rem;
  left: 24.03rem;
  top: 107.09rem;
  background: #5a9dea;
  border: 0.1rem solid #5a9dea;
  box-sizing: border-box;
  border-radius: 0.5rem;
  font-family: SF UI Display;
}
.bo-2-2 {
  position: absolute;
  width: 16.01rem;
  height: 4.5rem;
  left: 42.03rem;
  top: 107.09rem;
  border: 0.1rem solid #5a9dea;
  box-sizing: border-box;
  border-radius: 0.5rem;
  font-family: SF UI Display;
}
.bo-2-1-co {
  position: absolute;
  width: 8.4rem;
  height: 1.9rem;
  left: 3.8rem;
  top: 1.3rem;
  font-style: normal;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.9rem;
  display: flex;
  align-items: flex-end;
  color: #ffffff;
  text-decoration: auto;
  font-family: SF UI Display;
}
.bo-2-2-co {
  position: absolute;
  width: 8.2rem;
  height: 1.9rem;
  left: 3.9rem;
  top: 1.3rem;
  font-style: normal;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.9rem;
  display: flex;
  align-items: flex-end;
  color: #5a9dea;
  text-decoration: auto;
  font-family: SF UI Display;
}
.alien {
  width: 32.03rem;
  height: 34.0rem;
  position: absolute;
  top: 27.01rem;
  right: 0rem;
  left: 104.01rem;
}
.color.a {
  max-width: 120.02rem;
  height: 88.01rem;
  left: -26.09rem;
  top: 0rem;
  background: rgba(85, 148, 221, 0.441236);
  mix-blend-mode: normal;
  opacity: 0.6;
  display: flex;
}
.line {
  position: absolute;
  width: 120.05rem;
  height: 0.3rem;
  left: 32.05rem;
  top: 10.04rem;
  mix-blend-mode: normal;
  opacity: 0.2;
  border: 0.1rem solid #ffffff;
}
.linee {
  position: absolute;
  width: 0.3rem;
  height: 10.07rem;
  left: 0rem;
  top: 50.0rem;
  background: #5ca1f1;
  mix-blend-mode: normal;
  opacity: 0.4;
  border-radius: 0.2rem;
}
#link-a {
  position: absolute;
  width: 12.03rem;
  height: 3.1rem;
  left: 33.0rem;
  top: 4rem;
  font-style: normal;
  font-weight: bold;
  font-weight: 70rem;
  font-size: 2.6rem;
  line-height: 3.1rem;
  display: flex;
  align-items: flex-end;
  color: #ffffff;
  font-family: SF UI Display;
  text-decoration: none;
}
#link-b {
  position: absolute;
  width: 0.7rem;
  height: 2.6rem;
  left: 45rem;
  top: 4.9rem;
  font-family: SF UI Display;
  font-style: normal;
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 2.6rem;
  display: flex;
  align-items: flex-end;
  color: #ffffff;
}
#link-c {
  position: absolute;
  width: 25.03rem;
  height: 2.1rem;
  left: 47rem;
  top: 4.9rem;
  font-style: normal;
  font-weight: 100;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: #ffffff;
  font-family: "SF UI Display";
}
#link-d {
  position: absolute;
  width: 5.2rem;
  height: 2.6rem;
  left: 125rem;
  top: 4.9rem;
  font-style: normal;
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 2.6rem;
  display: flex;
  align-items: flex-end;
  color: #ffffff;
  font-family: SF UI Display;
}
#link-e {
  position: absolute;
  width: 6.0rem;
  height: 2.6rem;
  left: 134rem;
  top: 4.9rem;
  font-style: normal;
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 2.6rem;
  display: flex;
  align-items: flex-end;
  color: #ffffff;
  font-family: SF UI Display;
}
#link-f {
  position: absolute;
  width: 7.8rem;
  height: 2.6rem;
  left: 143rem;
  top: 4.9rem;
  font-style: normal;
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 2.6rem;
  display: flex;
  align-items: flex-end;
  color: #ffffff;
  font-family: SF UI Display;
}
.pa-uno-uno {
  position: absolute;
  width: 74rem;
  height: 19.08rem;
  left: 19.09rem;
  top: 32.09rem;
  font-family: "SF UI Display Light";
  font-style: normal;
  font-weight: 300;
  font-size: 5.5rem;
  line-height: 6.6rem;
  display: flex;
  align-items: flex-end;
  color: #ffffff;
}
.tilde {
  position: absolute;
  width: 2.9rem;
  height: 6.6rem;
  left: 19.09rem;
  top: 26.30rem;
  font-style: normal;
  font-weight: bold;
  font-size: 5.5rem;
  line-height: 6.6rem;
  display: flex;
  align-items: flex-end;
  color: #ffffff;
}
.todo {
<<<<<<< Updated upstream
  width: 170rem;
  min-width: 38rem;
  height: 386.04rem;
=======
  max-width: 1702px;
  min-width: 380px;
  height: 3864;
  display: flex;
  flex-wrap: wrap;
  min-width: 280px;
>>>>>>> Stashed changes
}
.header {
  width: 170rem;
  height: 10.04rem;
  display: flex;
  background-color: #5ca1f1;
}
.parte-uno {
  background-color: #5ca1f1;
<<<<<<< Updated upstream
  width: 170rem;
  height: 81.04rem;
}
.container {
  background-color: #5ca1f1;
  width: 170rem;
=======
  width: 1702px;
  border: 0;
  margin: 0;
  padding: 0;
>>>>>>> Stashed changes
}

.navbar {
  width: 120.05rem;
  display: inline-block;
  position: absolute;
}
.main-nav_item a {
  color: #ffffff;
  padding: 0px;
  border-radius: 2px;
  text-decoration: auto;
  left: 45px;
}
<<<<<<< Updated upstream



=======
.parte-cinco {
  max-width: 1702px;
  min-width: 380px;
  height: 212px;
  display: flex;
}
#pa-5-1 {
  position: absolute;
  width: 319px;
  height: 21px;
  left: 230px;
  top: 3794px;
  font-family: "SF UI Display";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: flex-end;
  color: #ffffff;

  mix-blend-mode: normal;
  opacity: 0.8;
}
.pie-pagina {
  background-color: #5ca1f1;
  width: 1702px;
  height: 212px;
}
#link-a2 {
  position: absolute;
  width: 123px;
  height: 31px;
  left: 230px;
  top: 40px;
  font-style: normal;
  font-weight: bold;
  font-weight: 700px;
  font-size: 26px;
  line-height: 31px;
  display: flex;
  align-items: flex-end;
  color: #ffffff;
  font-family: SF UI Display;
  text-decoration: none;
}
#link-b2 {
  position: absolute;
  width: 7px;
  height: 26px;
  left: 350px;
  top: 49px;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  align-items: flex-end;
>>>>>>> Stashed changes





<<<<<<< Updated upstream













































































































































































.video {
  width: 962.89px;
  height: 448px;
}

.mascara-1 {
  width: 960.89px;
  height: 448px;
}

.mascara-2 {
  opacity: 0.1;
  width: 960.89px;
  height: 448px;
  background: 0px;}

  .boton-play {
  width: 83px;
  height: 83px;
}

.ovalo3 {
  width: 83px;
  height: 83px;
  background: #ffffff;
  box-shadow: 1px 21px 17px rgba(0,0,0,0.3);
}

.triangulo-play {
  width: 24px;
  height: 19px;
  background: #5a9dea;
  transform: rotate(90.00008deg);
}
=======
.main-nav {
  list-style: none;
}
.f {
  position: absolute;
  width: 5.23px;
  height: 11.2px;
  left: 1300px;
  top: 3787.7px;
}
.p {
  position: absolute;
  width: 19.42px;
  height: 19.42px;
  left: 1340px;
  top: 3787.7px;
}
.t {
  position: absolute;
  width: 19.42px;
  height: 19.42px;
  left: 1376px;
  top: 3787.7px;
}
.in {
  position: absolute;
  width: 19.42px;
  height: 19.42px;
  left: 1410px;
  top: 3787.7px;
}

#video {
  position: absolute;
  top: 2694px;
  left: 370.06px;
}
>>>>>>> Stashed changes

@font-face {
  font-family: "SF UI Display Ultralight";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Display Ultralight"),
    url("sf-ui-display-ultralight-58646b19bf205.woff") format("woff");
}

@font-face {
  font-family: "SF UI Display Thin";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Display Thin"),
    url("sf-ui-display-thin-58646e9b26e8b.woff") format("woff");
}

@font-face {
  font-family: "SF UI Display Light";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Display Light"),
    url("sf-ui-display-light-58646b33e0551.woff") format("woff");
}

@font-face {
  font-family: "SF UI Display Medium";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Display Medium"),
    url("sf-ui-display-medium-58646be638f96.woff") format("woff");
}

@font-face {
  font-family: "SF UI Display Semibold";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Display Semibold"),
    url("sf-ui-display-semibold-58646eddcae92.woff") format("woff");
}

@font-face {
  font-family: "SF UI Display Bold";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Display Bold"),
    url("sf-ui-display-bold-58646a511e3d9.woff") format("woff");
}

@font-face {
  font-family: "SF UI Display Heavy";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Display Heavy"),
    url("sf-ui-display-heavy-586470160b9e5.woff") format("woff");
}

@font-face {
  font-family: "SF UI Display Black";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Display Black"),
    url("sf-ui-display-black-58646a6b80d5a.woff") format("woff");
}
@font-face {
  font-family: sf;
  src: url(../fonts/sf-ui-display-cufonfonts/sf-ui-display-bold-58646a511e3d9.otf);
  font-weight: 700;
}
@font-face {
  font-family: sf;
  src: url(../fonts/sf-ui-display-cufonfonts/sf-ui-display-medium-58646be638f96.otf);
  font-weight: 400;
}

body {
  font-family: sf;
}
@media (min-width: 360px) {
}

@media (min-width: 680px) {
}

@media (min-width: 1200px) {
}
@media (min-width: 1600px) {
}
.container {
  display: flex;
  flex-wrap: wrap;
}
.s-uno,
.s-dos,
.s-tres,
.s-cuatro,
.s-cinco {
  width: 100%;
}
