@media (min-width: 768px) {
  .container {
    padding: 10px;
    width: 100%;
  }
  .parte-uno {
    width: 100%;
  }
  .parte-dos {
    width: 100%;
  }
  .parte-tres {
    width: 100%;
  }
  .parte-cuatro {
    width: 100%;
  }
}
.parte-uno {
  width: 100%;
}
